/* Esto no va en reset porque no es una etiqueta html, puede ir acá en helpers porque es una clase que usas en cualquier parte del proyecto y que solo da estilos específicos */
.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

/* center-content */
.center {
  display: flex;
  justify-content: center;
}

.center-margin {
  margin: 0 auto;
}

/*text*/

.text-center {
  text-align: center;
}

.title-section-default {
  font-family: $font-poppins; // titles
  padding: 3rem 0;
  font-size: 2rem;
  margin: 0;

  @include desktop {
    font-size: 4rem;
  }
}

/*paddings*/

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

/*margins*/

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: $overlay-color;
  z-index: 3;
}