html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 65.2%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}
