html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 65.2%;
}

// * {
//   border: 1px solid rgb(26, 89, 99);
// }

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  // color: black;
  // display: block;
  /* Estilos así solo se dan si todos los links de todo el sitio van a ser así, por lo general en un reset solo se resetean estilos que dan los navegadores*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}