.btn {
  max-width: 18.6rem;
  width: 300px;
  padding: 0.8rem 2rem;
  text-align: center;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: $white;

  &--gosth {
    border: 2px solid #096c93;
    background-color: unset;
    border-radius: 1.5rem;
    transition: background 1s ease;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &--gosth:hover {
    background-color: #0061af;
  }
}
