.news {
  overflow-x: scroll;

  @include desktop {
    overflow-x: unset;
  }
}
.wrapper-cards {
  display: grid;
  width: 1100px;
  grid-template-columns: repeat(5, 246px);
  grid-auto-rows: 141px;
  gap: 5px;
  overscroll-behavior: x contain;
  scroll-snap-type: x proximity;
  padding-top: 1rem;
}

.card {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    z-index: 2;
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    bottom: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.2rem;
    color: $white;
    z-index: 4;
  }
  &__date {
    font-size: 1.9rem;
  }
}

/*media query desktop */

@include desktop {
  .wrapper-cards {
    grid-column: 1/3;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: auto;
    grid-template-rows: 290px 190px;

    gap: 3rem;
    margin: 0 auto;
  }

  .card {
    &__content {
      font-size: 1.6rem;
      text-align: center;
      bottom: 10px;
    }

    &__date {
      font-size: 1.9rem;
    }

    &:nth-child(1) {
      grid-column: 1 /4;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 4 / 7;
      grid-row: 1 / 2;
    }
    &:nth-child(3) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
    &:nth-child(4) {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
    }
    &:nth-child(5) {
      grid-row: 2 / 3;
      grid-column: 5 / 7;
    }
  }
}
