.credits {
  padding: 2rem 1rem;
  color: $black-light;
  font-family: $apple;
}

.credits-block {
  text-align: center;
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 934px;

  &__pokemon-language {
    margin-bottom: 2rem;
  }
}
