#menu-toggle {
  span {
    display: block;
    background: $black;
    border-radius: 2px;
  }
  width: 50px;
  height: 50px;
  margin: 50px auto;
  position: fixed;
  cursor: pointer;

  border-radius: 50%;
  z-index: 1000;
  top: -43px;
  right: 18px;
  #hamburger {
    position: absolute;
    width: 50px;
    height: 50px;
    .span {
      width: 25px;
      height: 4px;
      position: relative;
      top: 28%; // no tocar
      left: 50%;
      margin: 4px 0;
      transform: translate(-50%);

      &:nth-child(1) {
        transition-delay: 0.5s;
      }
      &:nth-child(2) {
        transition-delay: 0.625s;
      }
      &:nth-child(3) {
        transition-delay: 0.75s;
      }
    }
  }
  #cross {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    span {
      &:nth-child(1) {
        height: 0%;
        width: 4px;
        position: absolute;
        top: 2px;
        left: 13px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 4px;
        position: absolute;
        left: 2px;
        top: 13px;
        transition-delay: 0.25s;
      }
    }
  }
}

#menu-toggle.open {
  #hamburger {
    span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1) {
        height: 80%;
        transition-delay: 0.625s;
      }
      &:nth-child(2) {
        width: 80%;
        transition-delay: 0.375s;
      }
    }
  }
}

@include desktop {
  #menu-toggle {
    display: none;
  }
}
