.hamburger {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 1rem;
  right: 2rem;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: rgb(255, 255, 255);
  }
  .line2 {
    opacity: 1;
  }
}
@include desktop {
  .hamburger {
    display: none;
  }
}
