header {
  background-color: $blue-light;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: $blue-light;
  padding: 2rem 0;
  z-index: 201;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  transition: left 0.6s ease;
  &__content {
    margin-top: 6rem;
    padding: 1rem;
  }
}

.isActiv {
  left: 0;
}

.navbar {
  &__list {
    padding-bottom: 1rem;
    font-size: 2rem;
    @include desktop {
      font-size: 1.6rem;
    }
    position: relative;
    margin-bottom: 1rem;
  }
  &__link {
    color: $white;
  }
  &__link:hover {
    color: $yellow;
  }
}

//animation nav

@keyframes line {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.icon-poke {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 3rem;
  @include desktop {
    margin-bottom: 0;
    margin: 0;
  }
}

/*media query desktop*/

@include desktop {
  .navbar {
    display: flex;
    width: 50rem;
    height: auto;
    align-items: center;
    justify-content: center;

    &__list {
      padding: 1rem;
      margin: 0;
    }

    &__list:hover::after {
      content: '';
      width: 0px;
      height: 2px;
      background-color: rgb(218, 211, 211);
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      animation-name: line;
      animation-duration: 1s;
    }
  }
  .nav {
    position: static;
    height: 10vh;

    &__content {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin-top: 0;
    }
  }
}
