/* slider */

.slider-component {
  width: 300%;
  height: 400px;
  display: flex;
  margin-left: -100%;
  overflow-x: hidden;
  position: absolute;
  bottom: -115px;

  @include desktop {
    bottom: -75px;
  }
  left: 6rem;
  .slider__section {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  img {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @include desktop {
      width: 130px;
    }
  }
}

@include desktop {
  .wrapper-slider {
    height: 100%;
  }
}
