header {
  background-color: $blue-light;
  height: 10vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.icon-poke {
  width: 50px;
  height: 50px;
}

.hamburger {
  width: 40px;
  height: 40px;
  fill: $white;
}

.navbar {
  display: none;
  &__list {
    &__link {
      color: $white;
    }
    &__link:hover {
      color: $yellow;
    }
  }
}

.Imput-search {
  border-radius: 7px;
  border: none;
  padding: 4px;
  width: 150px;
  height: 30px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $grey;
    font-size: 14px;
  }
}
