/* Media Queries*/
$phone: 280px;
$tablet: 768px;
$desktop: 1024px;

/* colors */

$blue-light: rgba(8, 34, 78, 9);
$white: white;
$yellow: rgb(249, 249, 40);
$black: black;
$grey: grey;
$overlay-color: rgba(0, 0, 0, 0.84);
$red: red;
$black-light: #18242e;

/*fonts*/

$font-poppins: 'Poppins', sans-serif;
$font-lato: 'Lato', sans-serif;
$apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
